{% extends "Turismo/padre.html" %}

{% load static %}
{% block informacionQueCambia %}

<body>


    <h1>Consultas</h1>

    <ul>

        {% for consultas in object_list %}

        <li>
            <p>Nombre:{{consultas.nombre}} </p>
            <p>

                <a style="color:rgb(46, 9, 35)" href="{% url 'Detail' consultas.id %}">Ver</a>
                <a style="color:rgb(46, 9, 35)" href="{% url 'Delete' consultas.id %}">Borrar</a>



            </p>

           
        </li>

        


        {% endfor %}

    </ul>
    

</body>
{% endblock %}


 
