<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    <p>Los lugares para visitar dentro de este pais {{pais}} son:</p>
    {% if resultado %} 

    <ul>
        {% for destino in resultado %}
    
            <li>{{destino.nombre}}</li>
    
        {% endfor %}
    </ul>
    {% else %}
    <p> No hay destinos en el país {{pais}} </p>
    {% endif %} 
     
</body>
</html>